h1 {
    color: blueviolet;
    background-color: black;
    text-align: center;
}
h2{
    color: red;
}
h3{
    background-color: aquamarine;
    text-align: center;
}
ul{
    color: white;
    background-color: black;
}
ol{
    color: orange;
    background-color: black;
}